{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hola {{ user.username }}!
  <p><a href="{% url 'logout' %}">Cerrar sesión</a></p>
  <p><a href="{% url 'password_change' %}">Cambiar mi contraseña</a></p>
{% else %}
  <p>Usted no esta autenticado</p>
  <p><a href="{% url 'login' %}">Iniciar sesión</a></p>
  <p><a href="{% url 'password_reset' %}">Olvidé mi contraseña</a></p>
  <p><a href="{% url 'signup' %}">Nuevo usuario</a></p>
{% endif %}
{% endblock %}
